.primeiraBg {
  background-color: #242582;
}

.primeira {
  color: #242582;
}

.segundaBg {
  background-color: #f64c72;
}

.segunda {
  color: #f64c72;
}

.segundaFiltro{
  filter: invert(57%) sepia(98%) saturate(4105%) hue-rotate(319deg) brightness(98%) contrast(97%);
}

.terceiraBg{
    background-color: #553d67;
}

.terceira{
    color: #553d67;
}

.quartaBg{
    background-color: #2f2fa2;
}

.quarta{
    color: #2f2fa2;
}

.whiteFilter{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(30deg) brightness(104%) contrast(104%);
}

