.primeiraBg {
  background-color: #242582;
}

.primeira {
  color: #242582;
}

.segundaBg {
  background-color: #f64c72;
}

.segunda {
  color: #f64c72;
}

.terceiraBg{
    background-color: #553d67;
}

.terceira{
    color: #553d67;
}

.quartaBg{
    background-color: #2f2fa2;
}

.quarta{
    color: #2f2fa2;
}